<!--  наследуемся от шаблона main.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load news_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1>Текущая новость/статья</h1>
    <hr>
    {% if post %}
        <dl>
            <dt>Заголовок<dt>
            <dd>{{post.title|censor}}</dd>
            <dt>Дата публикации<dt>
            <dd>{{post.post_time_in|date:'M d Y'}}</dd>
            <dt>Текст статьи<dt>
            <dd>{{post.post_text|censor}}</dd>
        </dl>
    {% else %}
       <h3>Такого поста нет!</h3>
   {% endif %}
{% endblock content %}