{% extends 'main.html' %}

{% block content %}
<div class="card mb-3">
	<div class="row">
		<div class="col-4">
			<img src="{{ advert.thumbnail.url }}" class="card-img-top" alt="{{ advert.title }}" />
		</div>
		<div class="col-8">
			<div class="card-body">
				<h5>{{ advert.title }}</h5>
				<p class="card-text">{{ advert.content }}</p>
				Категория: <a href="{% url 'adverts_by_category' advert.category.slug %}">{{ article.category.name }}</a> / Добавил: {{ advert.author.user.username }} / <small>{{ advert.time_create }}</small>
			</div>
		</div>
	</div>
</div>
<div class="card border-0">
	<div class="card-body">
		<h5 class="card-title">
			Комментарии
		</h5>
		{% include 'blog/comments/comments_list.html' %}
	</div>
</div>
{% endblock %}