{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}


{% block content %}

    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm ">Подписаться</a></p>

    {% endif %}
   <h2>ВСЕ НОВОСТИ</h2>
    <h3>{{ time_in|date:'d.m.Y' }}</h3>
{% if category_news_list %}
<form method="get">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>
 <table>
           <tr>
               <td>АВТОР</td>
               <td>ЗАГОЛОВОК</td>
               <td>КАТЕГОРИИ</td>
               <td>ДАТА</td>
               <td>ПОСТ</td>
               <td>ТИП</td>
           </tr>
      {% for post in category_news_list %}
           <tr>
               <td>{{ post.author}}</td>
               <td>{{ post.title|censor }}</td>
               <td>
                {% for category in post.category.all %}
                <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                {% endfor %}
               </td>
               <td>{{ post.creation_time|date:'d.m.Y' }}</td>
               <td>{{ post.text|truncatechars:20|censor }}</td>
               <td>{{ post.get_type_display }}</td>
           </tr>
     {% endfor %}
 </table>
{% else %}
       <h2>Публикаций нет!</h2>
   {% endif %}
 {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
      <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}